@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins";
}

body{
  background: black;
  color: white;
  scroll-behavior: smooth;
}

:root{
  --secondary_bg: #121212;
  --tertiary_bg: #242424;
}

.secondary_bg{
  background: var(--secondary_bg);
}

.tertiary_bg{
  background: var(--tertiary_bg);
}